h3 
{
  text-align: center;
  padding-left: 1px;
  color: blue;
  font-family: cursive;
}

h4 
{
  text-align: center;
  padding-left: 1px;
  font-family: calibri;
}

p
{
  text-align: center;
}